@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    padding: 10px 190px;
    height: 100px;
    border-bottom: 1px dashed black;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-img{
    width: 195px;
    height: 70px;
}

.nav-img img{
    width: 100%;
    height: 100%;
}

.nav-links{
    display: flex;
    gap: 25px;
    align-items: center;

}
.nav-links a{
    font-size: 16px;
    font-weight: 600;
    color:#212529;
    display: flex;
    align-items: center;
}

.nav-links a:hover{
    color: #AAAAAA;
}
.nav-links a img{
    width: 20px;
    height: 15px;
}
.menu-bar img{
    width: 40px;
    height: 40px;
    display: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown a{
    font-size: 16px;
    font-weight: 600;
    color:#212529;
    display: flex;
    align-items: center;
}
.dropdown a:hover{
    font-size: 16px;
    font-weight: 600;
    color:#212529;
    display: flex;
    align-items: center;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 10;
    min-width: 180px;
    margin: 10px;
    padding: 10px ;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-content{
    display: block;
    padding: 10px 0;
}
.dropdown-content li{
    color: #212529;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
}

.hero-section{
    display: flex;
    align-items: center;
        justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 15px;
    padding: 60px 15px;
    border-bottom: 1px dashed #212529;
    padding-bottom: 44px;
}
.hero-left{
    width: 632px;
    height: 570px;
    position: relative;
    
}
.img-child{
    position: absolute;
    top: 240px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
   left: 40px; 
}

.img-child h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    gap: 15px;
}

.img-child p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.img-child button{
    background: transparent;
    width: 180px;
    font-size: 16px;
    height: 44px;
    color: white;
    gap: 20px;
    padding: 10px;
    border-color: white;
}

.img-child button:hover{
    color: black;
    background-color: white;
}

.hero-left img{
    width: 100%;
    height: 100%;
}

.hero-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   column-gap: 20px;
    row-gap: 20px;
    /* width: 286px;
    height: 245px; */
}

.hero-right-img1{
    width: 316px;
    height: 273px;
    position: relative;
}

.hero-right-img2{
    width: 316px;
    height: 273px;
    position: relative;
}

.hero-right-img3{
    width: 316px;
    height: 273px;
    position: relative;
}

.hero-right-img4{
    width: 316px;
    height: 273px;
    position: relative;
}

.hero-right-img1 img{
    width: 100%;
    height: 100%;
}

.hero-right-img2 img{
    width: 100%;
    height: 100%;
}

.hero-right-img3 img{
    width: 100%;
    height: 100%;
}

.hero-right-img4 img{
    width: 100%;
    height: 100%;
}

.img-child1{
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    right: 0px;
    align-items: center;
}

.img-child1 h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.img-child1 p{
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.img-child2{
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    right: 0px;
    align-items: center;
}

.img-child2 h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.img-child2 p{
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.img-child3{
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    right: 0px;
    align-items: center;
}

.img-child3 h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.img-child3 p{
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.img-child4{
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 15px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    right: 0px;
    align-items: center;
}

.img-child4 h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.img-child4 p{
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.men-latest{
    padding: 90px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.men-latest-header{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 80px;

}
.men-latest-header h2{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.men-latest-header p{
    color: #212529;
    font-size: 14px;
    font-weight: 500;
}
.men-latest-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
    align-items: center;
        justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
   
    border-bottom: 1px dashed #212529;
    padding-bottom: 44px;
  
}
.box-arrow{
    border: 1px solid black;
    padding: 10px;
    width: 100;
    height: 50px;
   
}

.box-arrow img{
    width: 20px;
    height: auto;
}

.arrow-img{
    transform: rotate(180deg);
    width: 20px;
    height: auto;
}
.mens-img-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 370px;
}
.mens-img-content img{
    width: 100%;
    height: 350px;
    
}
.mens-img-below{
    display: flex;
    justify-content: space-between;
}
.mens-img-below-content{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.mens-img-below-content h3{
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 700;
}
.mens-img-below-content span{
    color: #a1a1a1;
    font-size: 18px;
    font-weight: 500;
}
/* .mens-star{
    display: flex;
    gap: 5px;
} */
.mens-star img{
    width: 45px;
    height: 45px;
}
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    background-color: white;
    margin: auto;
    margin-top: 1px;
    gap:50px;
}
.product-text{
    /* flex: 1; */
    /* padding-right: 20px; */
}

.product-text h1{
    font-size: 28px;
    font-weight: bold;
    /* padding-left: 5px; */
    position: relative;
    color: black;
}
.product-text p{
   font-weight: 500;
   font-size: 15px;
   margin-top: 30px;
   /* line-height: 1.6; */
    color: #666;
}
.product-text img{
    width: 50px;
    height: 35px;
}
.product-text button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}
.product-grid{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    /* padding: 20px 15px; */
    /* justify-content: space-between; */
   /* flex: 1; */
   border-bottom: 1px dashed #212529;
   padding-bottom: 44px;
}
.product-info{
    background-color: #f0f0f0;
    width: 255px;
    height: 100%;
    top: 100px;
    bottom: 0px;
    left: 15px;
    align-content: center;
    text-align: center;
    /* flex-direction: column; */
    /* position: absolute; */
    display: grid;
}

  .product-image{
    
    width: 255px;
    height: 90%;
  }
.socialmedia{
    padding: 60px ;
    text-align: start;
    gap: 50px;
}
.social-cont h2{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 3px;
}
.social-cont p{
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #212529;
    margin-bottom: 30px;
}
.social-image{
    width: 1100px;
    height: 100%;
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    /* gap: 15px; */
}
.social-image img{
    width: 1140px;
    height: 185px;
}
.newsletter{
    padding: 60px;
    display: flex;
    flex-direction:column;
}
.newsletter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.newsletter-text{
    flex: 1;
    text-align: left;
}
.newsletter-text h2{
    font-size: 34px;
    line-height: 55px;
    font-weight: 700;
    color: #2a2a2a;
}
.newsletter-text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #a1a1a1;
    margin-bottom: 20px;
}
.newsletter-form{
    display: flex;
    align-items: center;
    gap: 10px;
}
 .newsletter-form input{
    width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 5px;
    outline: black;    
 }
 .newsletter-form button{
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
 }
 .newsletter-form button img{
    width: 20px;
    height: 20px;
 }
 .newsletter-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
 }

 .newsletter-info p{
    font-size: 14px;
    color: #2a2a2a;
    margin: 5px 0;
    /* font-weight: bold; */
 }

footer{
    background-color: #1a1a1a;
    color: white;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    max-width: 1300px;
    margin: auto;
}

.footer-content{
    display: flex;
    justify-content:space-between;
    /* align-items:center; */
    gap: 95px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.footer-left {
    text-align: left;
    max-width: 500px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.footer-left p {
    font-size: 14px;
    margin: 5px 0;
    color: #ccc;
}


.footer-links {
    display: flex;
    gap: 50px;
    width: 580px;
    height: 180px;
}

.footer-links h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    width: 150px;
    font-size: 16px;
    line-height: 24px;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    color:white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #cccccc;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 14px;
    /* line-height: 45px; */
    font-weight: 400;
    color:white;
    margin-bottom: 5px;
}

.footer-bottom a {
    color:#ccffff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
    color: #cc6666;
}


.footer-social {
    margin-top: 10px;
}

.footer-social a img {
    width: 20px;
    margin: 0 5px;
}

@media screen and  (max-width: 440px){
    nav{
        padding: 10px 20px;
        height: 70px;
    }
    .navbar{

    }
    .nav-links{
        display: none;
    }
    .nav-img{
        width: 100px;
        height: 50px;
    }
    .menu-bar img{
        display: block;
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-right{
        grid-template-columns: repeat(1, 1fr);    
    }
    .hero-left{
        width: 100%;
        height: 500px;
    }
    .men-latest{
        padding: 40px 40px;
        gap: 20px;
    }
    .men-latest-header{
        padding-left: 0px;
    }
    .men-latest-content{
        flex-direction: column;
        align-items: start;
    }
    .box-arrow{
        display: none;
    }
    .mens-img-content{
        width: 100%;
    }
   .section{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px;
    margin-top: 30px;
   }
   .section p{
    width: 300px;
   }
   .product-grid{
    grid-template-columns: repeat(1,1fr);
   }
   .product-info{
    width: 100%;
    height: 400px;
   }
   .product-image{
    width: 100%;
   }

   .product-image img{
    width: 100%;
   }

   .socialmedia{
padding: 10px;
   }

   .social-image{
    flex-direction: column;
    gap: 30px;
    width: 100%;
   }

   .social-image img{
    width: 100%;
    height: 300px;
   }

   .newsletter{
    padding: 20px;
   }
   .newsletter-content{
    flex-direction: column-reverse;
   }

   .newsletter-text{
    width: 100%;
    flex: none;
   }

   .newsletter-form{
    flex-direction: column;
    gap: 20px;
   }
   .newsletter-form input{
    width: 100%;
   }

   .newsletter-form button{
    width: 100%;
   }

   .newsletter-text h2{
    font-size: 30px;
    line-height: 30px;
   }

   .footer-content{
    flex-direction: column;
   }
   .footer-social{
    flex-direction: column;
   }
   .footer-left{
    flex-direction: column;
   }
   .footer-bottom{
    text-align: center;
    align-content: center;
    /* gap: 20px; */
    padding-inline: 40px;
   }

}



  

